<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.base.css"/>


<section class="head">
    <div class="container">
        <h2 class="text-center"><span>GitHub Search</span></h2>
    </div>
</section>
<br>
<hr>
<br>
<%# <div id="searchTab p-2 mb-5">
    <div class="form-group row">
      <div class="col-md-3 field-label-responsive">
        <label for="userType">Input search field</label>
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="text" style="width:280px;" placeholder="Input Search" id="SearchInput">
      </div>
      <div class="col-md-3">
        <div id="btnSearch" class="btn btn-flat btn-primary">SELECT</div>
      </div>
    </div>
</div> %>
<%= form_tag(searchrepos_path, method: "get", :remote => true) do %>
  <%= text_field_tag :search, params[:search], id: "autocomplete", placeholder: "Enter search term" %>
  <%= submit_tag "Search" %>
<% end %>
<br>
<hr>
<br>
<div id="search-results" class="pt-4">
  <table id="tbl" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;">
    <caption>All matching respository</caption>
        <thead>
        <tr>
          <th>Repository</th>
          <th>Description</th>
          <th>Date Updated</th>
        </tr>
        </thead>
        <tbody>
        <% if params[:search] %>
            <% @searchrepo['items'].each do |repo| %>
                <tr>
                <td><%= repo['full_name'] %></td>
                <td><%= repo['description'] %></td>
                <td><%= repo['updated_at'] %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.js" async></script>
<script>
var ajax = new XMLHttpRequest();
ajax.open("GET", "https://raw.githubusercontent.com/bevacqua/correcthorse/master/wordlist.json", true);
ajax.onload = function() {
	var list = JSON.parse(ajax.responseText);
	new Awesomplete(document.querySelector("#autocomplete"),{ list: list });
};
ajax.send();
</script>


